.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  background: linear-gradient(#171717,#424242) center/2px 100% no-repeat;
}

.Frameworks {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Langs {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content-frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.content-frame > img {
  transition: transform 0.3s ease-in-out;
}

.content-frame > img:hover {
  transform: scale(1.1); /* Make the image 10% larger */
}