.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.horizontal-line {
  opacity: 20%;
}

.footer-links {
  display: flex;
  gap: 10px;
}