
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  background-color: #171717;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #D4D4D4;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: #d4d4d4;
}

p, span {
  overflow-wrap: break-word;
  color: #b4b4b4;
}

b {
  overflow-wrap: break-word;
  color: #d4d4d4;
}

a, a:visited, a:active {
  color: #d4d4d4;
}
