.intro {
  padding-top: 40px;
}

.projGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 30px;
}

.gridItem {
  display: flex;
  flex-direction: column;
}

.gridItem > a{
  text-decoration-color: rgba(255, 255, 255, 0.35);
  padding-bottom: 10px;
}

h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.intro > p{
  padding-top: 10px;
  padding-bottom: 10px;
}

.work {
  padding-top: 20px;
  padding-bottom: 10px;
}

.filler {
  padding-bottom: 250px;
}